<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
	<title>Dashboard</title>
</head>
<body>
<!-- Content Header (Page header) -->
<section class="content-header" layout:fragment="content-header">
	<h1>Sport I18N Header</h1>
</section>

<!-- Main content -->
<section class="content" layout:fragment="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Sport Content</h3>  <!--<div class="box-tools"><a href="/sport/i18n/-1" class="btn btn-primary">新增</a></div>-->
				</div>
				<div class="box-body">
					<table id="sample" class="table table-bordered table-hover">
						<thead>
						<tr>
							<th th:text="#{sport.sportId}">Sport Id</th>
							<th th:text="#{sport.sportName}">Sport Name</th>
							<th th:text="#{language}">Language</th>
							<th th:text="#{menu.function}">function</th>
						</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
	</div>
</section>
<!-- /.content -->

<!-- Page used Java Script here -->
<th:block layout:fragment="script">
	<script language="JavaScript">
		$(document).ready(function () {
			var table = $('table#sample').DataTable({
				'ajax': '/sport/findByPage',
				'serverSide': true,
				columns: [{
					data: 'sportId',
					searchable: false
				}, {
					data: 'sportName',
					searchable: false
				},{
					data: 'langString',
					orderable: false,
					searchable: false
				}, {
					data: null,
					orderable: false,
					searchable: false,
					render: function(data, type, row){
						return '<a href="/sport/i18n/'+data.sportId+'" class="btn btn-primary" th:text="#{btn.edit}">修改</a>';
					}

				}]
			});
		})
	</script>
</th:block>

</body>
</html>