<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tw.elliot.ms.dao.sdp.SdpSportDao" >
	<resultMap id="BaseResultMap" type="tw.elliot.ms.domain.sdp.Sport" >
		<!--
		<constructor>
			<idArg column="sportId" javaType="Long"/>
			<arg column="dgtSportIds" javaType="String"/>
			<arg column="brSportIds" javaType="String"/>
		</constructor>
		-->
		<id column="sportId" property="sportId" javaType="Long" />
		<result column="sportName" property="sportName" jdbcType="VARCHAR" />
		<result column="priority" property="priority" jdbcType="INTEGER" />
		<result column="updatedTime" property="updatedTime" jdbcType="TIMESTAMP"/>
		<!--
		<result column="dgtSportIds" property="dgtSportXRefs" jdbcType="VARCHAR" javaType="java.util.List" typeHandler="tw.elliot.ms.mybatis.typehandler.DgtSportListHandler"/>
		<result column="brSportIds" property="brSportXRefs" jdbcType="VARCHAR" javaType="java.util.List" typeHandler="tw.elliot.ms.mybatis.typehandler.BrSportListHandler"/>
		-->
	</resultMap>
	<sql id="Base_Column_List" >
    sportId, sportName, priority, SUBSTRING_INDEX(SUBSTRING_INDEX(sportIdXRefs, '|', 2), '|', -1) as dgtSportIds, SUBSTRING_INDEX(sportIdXRefs, '|', 1) as brSportIds
  </sql>
	<select id="findById" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List" />
		from Sport
		where sportId = #{sportId}
	</select>
	<select id="findAll" resultType="tw.elliot.ms.domain.sdp.Sport">
		SELECT <include refid="Base_Column_List"/>
		from Sport
	</select>

</mapper>