<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
	<title>Customer Pair</title>
</head>
<body>
<!-- Content Header (Page header) -->
<section class="content-header" layout:fragment="content-header">
	<h1>Region Pair Header</h1>
</section>

<!-- Main content -->
<section class="content" layout:fragment="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title"><h3 class="box-title">Pair: <h3 th:text="|${region.regionNum} ${region.regionFullName}|"></h3></h3></h3>
					<div class="box-tools pull-right">
						<a href="/region/pair" type="button" class="btn btn-box-tool"><i class="fa fa-list-ul"></i></a>
					</div>
				</div>
				<form data-toggle="validator" class="form-horizontal" role="form" th:object="${region}" th:action="@{/region/pair/save}" method="post">
					<div class="box-body">
						<input type="hidden" name="regionNum" th:field="*{regionNum}"/>


						<div class="form-group">
							<div class="row">
								<div class="col-xs-2 ">
									<label for="dgtRegionSport_sportId" class="control-label">DGT Sport</label>
								</div>
								<div class="col-xs-4">
									<select class="form-control" id="dgtRegionSport_sportId" th:field="*{dgtRegionSport.sportId}">
										<option th:each="ds : ${dgtSports}" th:value="${ds.sportId}" th:text="|${ds.sportId}, ${ds.sportName}|"></option>
									</select>
								</div>
								<div class="col-xs-2 ">
									<label for="dgtRegionSport_regionNum" class="control-label">DGT Region</label>
								</div>
								<div class="col-xs-4">
									<select class="form-control" id="dgtRegionSport_regionNum" th:field="*{dgtRegionSport.regionNum}">
										<option th:each="ds : ${dgtRegions}" th:value="${ds.regionNum}" th:text="|${ds.regionNum}, ${ds.regionFullName}|"></option>
									</select>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="form-group">
								<div class="col-xs-2 ">
									<label for="brRegionSport_sportId" class="control-label">BR Sport</label>
								</div>
								<div class="col-xs-4">
									<select class="form-control" id="brRegionSport_sportId" th:field="*{brRegionSport.sportId}">
										<option th:each="ds : ${brSports}" th:value="${ds.sportId}" th:text="|${ds.sportId}, ${ds.sportName}|"></option>
									</select>
								</div>
								<div class="col-xs-2 ">
									<label for="brRegionSport_regionNum" class="control-label">BR Region</label>
								</div>
								<div class="col-xs-4">
									<select class="form-control" id="brRegionSport_regionNum" th:field="*{brRegionSport.regionNum}">
										<option th:each="ds : ${brRegions}" th:value="${ds.regionNum}" th:text="|${ds.regionNum}, ${ds.regionFullName}|"></option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="box-footer">
						<button type="submit" class="btn btn-primary">Save</button>
						<a href="/region/pair" class="btn btn-primary">Cancel</a>
					</div>
				</form>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
	</div>
</section>
<!-- /.content -->

<!-- Page used Java Script here -->
<th:block layout:fragment="script">
	<script language="JavaScript">
		$(document).ready(function () {
			$("#dgtRegionSport_sportId").select2();
			$("#brRegionSport_sportId").select2();

			$("#dgtRegionSport_sportId").change(
				function () {
					$.ajax({
							url: "/ajax/findDgtRegionsBySport/" + $("#dgtRegionSport_sportId").val(),
							type: 'GET',
							data: {},
							dataType:"json",
							success: function(data){
								var selectedValue = $("#dgtRegionSport_regionNum").val();
								if (data.length > 0) {
									$("#dgtRegionSport_regionNum").html("");
								} else {
									$("#dgtRegionSport_regionNum").html("<option value=''>---</option>");
								}

								$.each(data, function (index, item) {
									appendOptionTo($("#dgtRegionSport_regionNum"), item, selectedValue);
								});

							},
							error: function() {
								$("#dgtRegionSport_regionNumv").html("<option value=''>---</option>");
							}
						}

					)
				}
			);

			$("#brRegionSport_sportId").change(
				function () {
					$.ajax({
							url: "/ajax/findBrRegionsBySport/" + $("#brRegionSport_sportId").val(),
							type: 'GET',
							data: {},
							dataType:"json",
							success: function(data){
								var selectedValue = $("#brRegionSport_regionNum").val();
								if (data.length > 0) {
									$("#brRegionSport_regionNum").html("");
								} else {
									$("#brRegionSport_regionNum").html("<option value=''>---</option>");
								}

								$.each(data, function (index, item) {
									appendOptionTo($("#brRegionSport_regionNum"), item, selectedValue);
								});

							},
							error: function() {
								$("#brRegionSport_regionNum").html("<option value=''>---</option>");
							}
						}

					)
				}
			);
		})

		function appendOptionTo($obj, item, selectedValue) {
			var $opt = $("<option>").text(item.regionNum +', '+item.regionFullName).val(item.regionNum);
			if (item.regionNum == selectedValue) {
				$opt.attr("selected", "selected");
			}
			$opt.appendTo($obj);
		}
	</script>
</th:block>

</body>
</html>