<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
	<!-- sidebar menu: : style can be found in sidebar.less -->
	<ul class="sidebar-menu" data-widget="tree">
		<li class="active treeview">
			<a href="#">
				<i class="fa fa-dashboard"></i> <span>Dashboard</span>
			</a>
		</li>
		<li class="treeview">
			<a href="#">
				<i class="fa fa-bars"></i>
				<span>数据匹配</span>
				<i class="fa fa-angle-left pull-right"></i>
			</a>
			<ul class="treeview-menu">
				<li><a href="/sport/"><i class="fa fa-circle-o"></i> Sport</a></li>
			</ul>
		</li>
		<li class="treeview">
			<a href="#">
				<i class="fa fa-bars"></i>
				<span>数据翻译</span>
				<i class="fa fa-angle-left pull-right"></i>
			</a>
			<ul class="treeview-menu">
				<li><a href="/sport/i18nIndex/"><i class="fa fa-circle-o"></i> Sport</a></li>
			</ul>
		</li>
		<li class="treeview">
			<a href="#">
				<i class="fa fa-bars"></i>
				<span>数据基本资料</span>
				<i class="fa fa-angle-left pull-right"></i>
			</a>
			<ul class="treeview-menu">
				<li><a href="/sport/dataIndex"><i class="fa fa-circle-o"></i> Sport</a></li>
			</ul>
		</li>
	</ul>
</section>
<!-- /.sidebar -->