<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
	<!-- sidebar menu: : style can be found in sidebar.less -->
	<ul class="sidebar-menu" data-widget="tree">
		<li class="active treeview">
			<a href="#">
				<i class="fa fa-dashboard"></i> <span>Dashboard</span>
			</a>
		</li>
		<li class="treeview">
			<a href="#">
				<i class="fa fa-bars"></i>
				<span th:text="#{menu.data}">基本数据资料</span>
				<i class="fa fa-angle-left pull-right"></i>
			</a>
			<ul class="treeview-menu">
				<li><a href="/sport/data"><i class="fa fa-circle-o"></i> <span th:text="#{sport}">运动</span></a></li>
				<li><a href="/region/data"><i class="fa fa-circle-o"></i> <span th:text="#{region}">地区</span></a></li>
				<li><a href="/league/data"><i class="fa fa-circle-o"></i> <span th:text="#{league}">联赛</span></a></li>
				<li><a href="/market/data"><i class="fa fa-circle-o"></i> <span th:text="#{market}">玩法</span></a></li>
				<li><a href="/marketOption/data"><i class="fa fa-circle-o"></i> <span th:text="#{marketOption}">玩法选项</span></a></li>
			</ul>
		</li>
		<li class="treeview">
			<a href="#">
				<i class="fa fa-bars"></i>
				<span th:text="#{menu.i18n}">数据翻译</span>
				<i class="fa fa-angle-left pull-right"></i>
			</a>
			<ul class="treeview-menu">
				<li><a href="/sport/i18n"><i class="fa fa-circle-o"></i> <span th:text="#{sport}">运动</span></a></li>
				<li><a href="/region/i18n"><i class="fa fa-circle-o"></i> <span th:text="#{region}">地区</span></a></li>
				<li><a href="/league/i18n"><i class="fa fa-circle-o"></i> <span th:text="#{league}">联赛</span></a></li>
				<li><a href="/market/i18n/"><i class="fa fa-circle-o"></i> <span th:text="#{market}">玩法</span></a></li>
				<li><a href="/marketOption/i18n"><i class="fa fa-circle-o"></i> <span th:text="#{marketOption}">玩法选项</span></a></li>
			</ul>
		</li>
		<li class="treeview">
			<a href="#">
				<i class="fa fa-bars"></i>
				<span th:text="#{menu.pair}">数据匹配</span>
				<i class="fa fa-angle-left pull-right"></i>
			</a>
			<ul class="treeview-menu">
				<li><a href="/sport/pair"><i class="fa fa-circle-o"></i> <span th:text="#{sport}">运动</span></a></li>
				<li><a href="/region/pair"><i class="fa fa-circle-o"></i> <span th:text="#{region}">地区</span></a></li>
				<li><a href="/league/pair"><i class="fa fa-circle-o"></i> <span th:text="#{league}">联赛</span></a></li>
				<li><a href="/market/pair"><i class="fa fa-circle-o"></i> <span th:text="#{market}">玩法</span></a></li>
				<li><a href="/marketOption/pair"><i class="fa fa-circle-o"></i> <span th:text="#{marketOption}">玩法选项</span></a></li>
			</ul>
		</li>
	</ul>
</section>
<!-- /.sidebar -->