<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sportradar.sdh.dao.br.BrMarketDao">
	<resultMap id="BaseResultMap" type="com.sportradar.sdh.domain.br.Market">
		<id column="marketId" property="marketId" />
		<result column="marketName" property="marketName" jdbcType="VARCHAR"/>
		<result column="priority" property="priority" jdbcType="SMALLINT"/>
		<result column="createdTime" property="createdTime" jdbcType="TIMESTAMP"/>
		<result column="updatedTime" property="updatedTime" jdbcType="TIMESTAMP"/>
		<result column="marketTypeId" property="marketTypeId" jdbcType="INTEGER"/>
	</resultMap>

	<sql id="Base_Column_List">
    marketId, marketName, priority, marketTypeId, createdTime, updatedTime
  </sql>

	<select id="findById" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from Market
		where marketId = #{marketId} AND marketTypeId = #{marketTypeId}
	</select>

	<select id="countById" resultType="java.lang.Integer">
		select COUNT(*)
		from Market
		where marketId = #{marketId} AND marketTypeId = #{marketTypeId}
	</select>

	<select id="findNextId" resultType="java.lang.Long">
		SELECT MAX(marketId)+1 FROM Market;
	</select>

	<select id="findAll" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		from Market
	</select>

	<select id="findByMarketTypeId" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM Market
		WHERE marketTypeId = #{marketTypeId}
	</select>

	<update id="updatePair">
		UPDATE Market
		SET marketIdXRef = #{marketIdXRef}
		WHERE marketId = #{market.marketId} AND marketTypeId = #{market.marketTypeId}
	</update>
</mapper>