<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
	<title>Customer Pair</title>
</head>
<body>
<!-- Content Header (Page header) -->
<section class="content-header" layout:fragment="content-header">
	<h1>Sport Pair Header</h1>
</section>

<!-- Main content -->
<section class="content" layout:fragment="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Market Pair Content</h3>
					<div class="box-tools pull-right">
						<a href="/market/pair" type="button" class="btn btn-box-tool"><i class="fa fa-list-ul"></i></a>
					</div>
				</div>
				<form data-toggle="validator" class="form-horizontal" role="form" th:object="${marketOption}" th:action="@{/marketOption/savePair}" method="post">
					<div class="box-body">
						<h3 th:text="|*{fullName} *{expressId}|"></h3>
						<input type="hidden" name="expressId" th:field="*{expressId}"/>

						<div class="form-group">
							<label for="marketId" class="col-sm-2 control-label">Market</label>
							<div class="col-sm-10">
								<select class="form-control" id="marketId" name="marketId" th:field="*{marketId}">
									<option th:each="market:${markets}" th:value="${market.marketId}" th:text="|${market.marketName}|"></option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label for="dgtmarketIdXRefs" class="col-sm-2 control-label">DGT</label>
							<div class="col-sm-10">
							<select class="form-control" id="dgtmarketIdXRefs" name="dgtmarketIdXRefs" multiple="multiple"  th:field="*{dgtIdXRefs}">
								<option th:each="i : ${#numbers.sequence(0, 100)}" th:value="${i}" th:text="|${i}, 名称待查|"></option>
							</select>
							</div>
						</div>

						<div class="form-group">
							<label for="brmarketIdXRefs" class="col-sm-2 control-label">BR</label>
							<div class="col-sm-10">
							<select class="form-control" id="brmarketIdXRefs" name="brmarketIdXRefs" multiple="multiple"  th:field="*{brIdXRefs}">
								<option th:each="i : ${#numbers.sequence(0, 100)}" th:value="${i}" th:text="|${i}, 名称待查|"></option>
							</select>
							</div>
						</div>


					</div>
					<div class="box-footer">
						<button type="submit" class="btn btn-primary">Save</button>
						<a href="/marketOption/pair" class="btn btn-primary">Cancel</a>
					</div>
				</form>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
	</div>
</section>
<!-- /.content -->

<!-- Page used Java Script here -->
<th:block layout:fragment="script">
	<script language="JavaScript">
		$(document).ready(function () {

		})
	</script>
</th:block>

</body>
</html>