<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
	<title>Customer Pair</title>
</head>
<body>
<!-- Content Header (Page header) -->
<section class="content-header" layout:fragment="content-header">
	<h1>Customer Pair Header</h1>
</section>

<!-- Main content -->
<section class="content" layout:fragment="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Customer Pair Content</h3>
					<div class="box-tools pull-right">
						<a href="/customer/" type="button" class="btn btn-box-tool"><i class="fa fa-list-ul"></i></a>
					</div>
				</div>
				<form data-toggle="validator" role="form" th:object="${customer}" th:action="@{/customer/savePair}" method="post">
					<div class="box-body">
						<input type="hidden" th:field="*{id}"/>

						<div class="form-group">
							<label for="cid">Nome</label>
							<input type="text" required="true" class="form-control" th:field="*{id}" id="cid" />
						</div>
						<div class="form-group">
							<label for="cname">Sobrenome</label>
							<input type="text" required="true" class="form-control" th:field="*{name}" id="cname" />
						</div>
						<div class="form-group">
							<label for="cage">E-mail</label>
							<input type="number" required="true" class="form-control" th:field="*{age}" id="cage" />
						</div>
					</div>
					<div class="box-footer">
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</form>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
	</div>
</section>
<!-- /.content -->

<!-- Page used Java Script here -->
<th:block layout:fragment="script">
	<script language="JavaScript">
		$(document).ready(function () {

		})
	</script>
</th:block>

</body>
</html>